* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

button{
    background: #1db954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border-style: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

button:hover{
    transition: 700ms;
    background: #1ed760;
}


#navbar {
    display: flex;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
}


#navbar .navbar-container{    
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px    ;
}

#navbar .navbar-container .logo{
    height: 40px;
    width: auto;
}


#navbar .navbar-container ul{
    display: flex;
    list-style: none;
}

#navbar .navbar-container li{
    padding: 0 10px;
    color: white;
}


#navbar .navbar-container li:nth-child(3){
    border-right: 1px solid white;
}


/*Showcase*/
#showcase{
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(./assets/showcase.webp) center center/cover;
    background-clip: border-box;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;
}



#showcase .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}


#showcase .showcase-container h2{
    font-size: 4rem;
}

#showcase .showcase-container p{
    margin: 15px 0px;
    font-size: 1.1rem;
}

